.landing-enter {
  opacity: 0;
}

.landing-enter-active {
  opacity: 1;
  transition: opacity 600ms;
}

.landing-exit {
  opacity: 1;
}

.landing-exit-active {
  opacity: 0;
  transition: opacity 600ms;
}

.homebutton {
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid rgba(98, 131, 221, 0);
  font-size: 14px;
  font-weight: 600;
  background: linear-gradient(37deg, rgba(121,224,194,1) 1%, rgba(67,175,216,1) 16%, rgba(98,131,221,1) 30%, rgba(224,90,142,1) 41%, rgba(228,99,115,1) 53%, rgba(239,147,111,1) 65%, rgba(242,188,99,1) 74%, rgba(244,114,78,1) 83%, rgba(233,69,113,1) 100%);
  background-size: 1800% 1800%;

  -webkit-animation: rainbow 18s ease infinite;
  -moz-animation: rainbow 18s ease infinite;
  -o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;

  position: relative;

  z-index: 1;
}

.homebutton::before {
  content: "";
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background: inherit;
  z-index: -1;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

.homebutton:hover::before {
  opacity: 1;
  filter: blur(8px);
}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

@keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

.container {
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center }
.container p {
  margin: 0 }

  .extrabold {
    font-weight: 900;
  }
  